<script setup lang="ts">
const props = defineProps({
    characterPositionY: {
        type: Number,
    },
    characterClass: {
        type: String,
    },
    mattressPositionY: {
        type: Number,
    },
    caption: {
        type: Number,
    },
})
</script>

<template>
    <div class="bould-climbing-container">
        <span class="boulder-climbing">
            <span class="character-area"
                :style="characterPositionY ? `grid-row: ${props.characterPositionY ?? 0};` : 'display: none;'">
                <Character :state="`climbing ${props.characterClass}`" />
            </span>
            <span class="mattress" :style="`grid-row: ${props.mattressPositionY ?? 0};`"></span>
            <span class="elevator" :style="`grid-row-start: ${(props.mattressPositionY ?? -1) + 1};`"></span>
        </span>
        <p class="caption">{{ caption }}</p>
    </div>
</template>

<style scoped>
.bould-climbing-container {
    height: 100%;

    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        ". boulder-climbing caption"
    ;

    .caption {
        grid-area: caption;
        view-transition-name: caption;

        justify-self: start;

        padding: 2rem;
        font-size: 100%;
        text-align: left;
    }

    .boulder-climbing {
        grid-area: boulder-climbing;

        display: grid;
        aspect-ratio: 3 / 5;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            ". . ."
            ". . ."
            ". . ."
            ". c ."
            "m m m"
        ;
        height: 100%;

        background-color: hsl(33.79deg, 56.86%, 20%);
        background-image: url(/boulder.svg);
        background-size: calc(100% / 3);

        .character-area {
            grid-area: c;
            view-transition-name: c;

            color: white;
        }

        .mattress {
            grid-area: m;
            view-transition-name: m;

            border-top-left-radius: 10%;
            border-top-right-radius: 10%;
            background-color: royalblue;
        }

        .elevator {
            grid-area: e;
            view-transition-name: e;

            grid-row-start: 0;
            grid-row-end: -1;
            grid-column: 1 / -1;

            background-image: url(/elevator.svg);
            background-size: 95% 10cqh;
            background-repeat: repeat-y;
            background-position: 50% 0;
        }
    }
}
</style>
