<template>
    <div class="component-demo">
        <slot />
    </div>
</template>

<style scoped>
.component-demo {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    place-content: center;
}
</style>
