<template>
    <span class="loader">
        <slot />
    </span>
</template>

<style scoped>
.loader {
    position: absolute;
    bottom: 2.5rem;
    right: 2.5rem;

    display: grid;
    justify-content: center;
    align-items: center;

    aspect-ratio: 1 / 1;
    height: 3em;

    animation: 2s ease infinite alternate opacity;

    &::before {
        content: "";

        position: absolute;
        inset: 0;

        border-style: solid;
        border-color: transparent;
        border-top-color: currentColor;
        border-top-width: 0.2em;
        border-right-width: 0.2em;
        border-radius: 50%;
        opacity: 0.7;

        animation: 1s ease infinite rotate;
    }
}
</style>
