<template>
  <div class="game-ui-font quick-save">
    Quicksaving…
  </div>
</template>

<style scoped>
.quick-save {
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;

  animation: 3s ease infinite alternate opacity;
}
</style>
